{% extends 'base.html.twig' %}

{% block title %}KeyWord{% endblock %}

{% block body %}
    <h1>KeyWord</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ key_word.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ key_word.createdAt ? key_word.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ key_word.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('key_word_index') }}">back to list</a>

    <a href="{{ path('key_word_edit', {'id': key_word.id}) }}">edit</a>

    {{ include('key_word/_delete_form.html.twig') }}
{% endblock %}
